pypdf
langchain
chromadb
pytest
boto3
langchain-text-splitters
livekit-agents[openai,silero]>=1.1.0
livekit-plugins-openai
livekit-plugins-silero
livekit-api
psycopg2-binary
livekit
pinecone-client>=3.0.0
langchain-pinecone
langchain-openai
streamlit
python-dotenv
livekit-plugins-noise-cancellation~=0.2

# Add the following line to ensure the latest version of the OpenAI library is used
# or update it if necessary